@model List<BillerFormDataset>
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h1>Biller Form Datasets</h1>
        <a asp-action="Create" class="btn btn-success">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Dataset Name</th>
                <th>Unique Id</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Updated By</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var dataset in Model)
            {
                <tr>
                    <td>@dataset.DatasetName</td>
                    <td>@dataset.UniqueId</td>
                    <td>@dataset.CreatedBy</td>
                    <td>@dataset.CreatedAt</td>
                    <td>@dataset.UpdatedBy</td>
                    <td>@dataset.UpdatedAt</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@dataset.Id" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i> Details</a>
                        <a asp-action="Edit" asp-route-id="@dataset.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Edit</a>
                        <a asp-action="Delete" asp-route-id="@dataset.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>